{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="blank">
        <h2>Category creation</h2>
        <div class="blankpage-main">


            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('product_category_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
